[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
rasa-core = "*"
rasa-nlu = "*"
sklearn-crfsuite = "*"
rasa-core-sdk = "*"
imagehash = "*"

[requires]
python_version = "3.6"
